<!DOCTYPE html>
<html class="no-js" lang="en">




<head>
    <meta charset="utf-8">
    <title>Perfume Castle</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    
    <link rel="stylesheet" href="/user/assets/css/brand.css">
    <!-- Add SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin/assets/imgs/logo/PCL_WS.jpg">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="/user/assets/css/maind134.css?v=3.4">

</head>

<body>

    <header class="header-area header-style-1 header-height-2 sticky-bar">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+91) - 9778452220</a></li>
                                <li><i class="fi-rs-marker"></i>
                                    <a href="https://www.google.com/maps/place/?q=Perfume+Castle&ll=10.891879557054608,76.06401977451854"
                                        target="_blank">
                                        Our location
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great perfumes at affordable prize <a href="/product">Shop Now</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fi-rs-user"></i>
                                        <% if (user) { %> <!-- Check if the user is logged in -->
                                            <%= user.name %> <!-- Display the user's name -->
                                                <% } else { %>
                                                    Account
                                                    <% } %>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                                        <% if (user) { %> <!-- Check if the user is logged in -->
                                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                            <li><a class="dropdown-item" href="/cart">Cart</a></li>
                                            <li><a class="dropdown-item" href="/Orders">Orders</a></li>
                                            <li><a class="dropdown-item" href="/wishlist">Wishlist</a></li>
                                            <li><a class="dropdown-item" href="/wallet">Wallet</a></li>
                                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                            <% } else { %>
                                                <li><a class="dropdown-item" href="/register">Sign Up</a></li>
                                                <li><a class="dropdown-item" href="/login">Login</a></li>
                                                <% } %>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------------------------------------header top ends ------------------------------------------------------->

        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap d-flex jusify-content-between align-items-center">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="/admin/assets/imgs/logo/PCL_WS.jpg" style="max-width:50px;height:auto;"
                                alt="Perfume Castle"></a>

                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                                <nav>
                                    <ul>
                                        <li><a class="active" href=""></a>
                                        <li><a class="active" href="/">Home </a>

                                        </li>

                                        <li><a href="/product">Shop </a>

                                        </li>
                                        <li><a href="#">Categories<i class="fi-rs-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <% categories.forEach(category=>{ %>

                                                    <li>
                                                        <a href="#">
                                                            <%= category.name%>
                                                        </a>

                                                    </li>
                                                    <% }) %>

                                            </ul>
                                        </li>
                                        <li><a href="">Brand <i class="fi-rs-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <% brands.forEach(brand=>{ %>

                                                    <li><a href="">
                                                            <%= brand.brandName%>
                                                        </a></li>


                                        </li>
                                        <% })%>

                                    </ul>
                                    </li>
                                    <li><a href="#">About Us </a>

                                    </li>
                                    <li>
                                        <a href="">Contact</a>
                                    </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="wishlist"
                                            src="/user/assets/imgs/theme/icons/icon-heart.svg">
                                        <span id="wishlist-count" class="pro-count blue" ><%= wishlistCount %></span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Cart" src="/user/assets/imgs/theme/icons/icon-cart.svg">
                                        <span id="cart-count" class="pro-count blue">
                                            <%= cartCount %>
                                        </span>
                                    </a>
                                    <!--<div class="cart-dropdown-wrap cart-dropdown-hm2">
                                        <ul>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="shop-product-right.html"><img alt="Evara"
                                                            src="assets/imgs/shop/thumbnail-3.jpg"></a>
                                                </div> -->
                                    <!--<div class="shopping-cart-title">
                                                    <h4><a href="shop-product-right.html">Daisy Casual Bag</a></h4>
                                                    <h4><span>1 × </span>$800.00</h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                            
                                        </ul>
                                        <div class="shopping-cart-footer">
                                            <div class="shopping-cart-total">
                                                <h4>Total <span>$4000.00</span></h4>
                                            </div>
                                            <div class="shopping-cart-button">
                                                <a href="/cart" class="outline">View cart</a>
                                                <a href="/checkout">Checkout</a>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/"><img src="/admin/assets/imgs/logo/PCL_WS.jpg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul></ul>
                            </div>

                        </div>

                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p></p>
                    </div>

                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Evara" src="/user/assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="Evara" src="/user/assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="/user/assets/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="/user/assets/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="/user/shop-product-right.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>








    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/"><img src="/admin/assets/imgs/logo/PCL_WS.jpg" alt="Perfume Castle"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">

                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">

                        <div class="categori-dropdown-wrap categori-dropdown-active-small">

                            <ul>


                            </ul>
                        </div>
                    </div>

                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>

                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/product">shop</a>
                            <li><a href="/wishlist">Shop – Wishlist</a></li>
                            <li><a href="/cart">Shop – Cart</a></li>
                            <li><a href="/checkout">Shop – Checkout</a></li>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="#">Categories</a>
                                <ul class="dropdown">
                                    <% categories.forEach(category=>{ %>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">
                                                <%= category.name %>
                                            </a>
                                            <% })%>
                                        </li>

                                </ul>
                            </li>

                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Contact</a></li>
                                    <li><a href="/profile">My Account</a></li>
                                    <li><a href="/login">login/register</a></li>
                                    <li><a href="">Purchase Guide</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>

                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <i class="fi-rs-marker"></i>
                        <a href="https://www.google.com/maps/place/?q=Perfume+Castle&ll=10.891879557054608,76.06401977451854"
                            target="_blank">
                            Our location
                        </a>

                    </div>
                    <div class="single-mobile-header-info">
                        <a href="/login">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+91) - 9778452220 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="https://www.facebook.com/profile.php?id=61560351075899&mibextid=ZbWKwL"
                        target="_blank"><img src="/user/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>

                    <a href="https://www.instagram.com/perfume__castle?igsh=MTVna2JwOWMyaWNo" target="_blank"><img
                            src="/user/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>

                    <a href="https://youtube.com/@perfumecastle?si=o2zetz6zjCigjHmI" target="_blank"><img
                            src="/user/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <!-------------------------------------------------------------------mobile menu end ---------------------------------------------------->