<%- include('../partials/admin/sidebar.ejs') %>
    <%- include('../partials/admin/header.ejs') %>


        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="/admin/addCategory" method="post" onsubmit="return handleFormSubmit(event)">


                                <div class="mb-4">
                                    <label for="product_name" class="form-label"><h5>Name</h5></label>
                                    <input type="text" placeholder="Type here" class="form-control" id="name"
                                        name="name" />
                                    <small id="name-error" class="error-message text-secondary"
                                        style="display:none;font-size: 10px;"></small>
                                </div>


                                <div class="mb-4">
                                    <label class="form-label"><h5>Description</h5></label>
                                    <textarea placeholder="Type here" class="form-control" id="descriptionId"
                                        name="description"></textarea>
                                    <small id="description-error" class="error-message text-secondary"
                                        style="display:none;font-size: 10px;"></small>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary" id="createCategoryButton">Create
                                        category</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                         

                                            <th><h5>Name</h5></th>
                                            <th><h5>Description</h5></th>
                                            <th><h5>Status</h5></th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(cat.length>0){ %>
                                        <% cat.reverse().forEach((category,index)=>{ %>
                                            <tr>
                                                <td>
                                                    <%= category.name %>
                                                </td>
                                                <td>
                                                    <%= category.description %>
                                                </td>
                                                <td>
                                                    <% if(category.isListed === true){ %>
                                                        <span class="badge bg-success">Listed</span>
                                                        <% }else if(isDeleted === true){ %>
                                                            <span class="badge bg-danger">Deleted</span>
                                                           
                                                        <% } %>

                                                </td>
                                                <td class="text-end">
                                                    <div class="dropdown">
                                                        <a href="#" data-bs-toggle="dropdown"
                                                            class="btn btn-light rounded btn-sm font-sm"> <i
                                                                class="material-icons md-more_horiz"></i> </a>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">View detail</a>
                                                            <a class="dropdown-item"
                                                                href="/admin/editCategory?id=<%= category._id %>">Edit
                                                                info</a>
                                                            <a class="dropdown-item text-danger" href="/admin/softDeleteCategory/<%= category._id %>">Soft Delete</a>
                                                            <a class="dropdown-item text-danger" href="/admin/deleteCategory/<%= category._id %>">Delete</a>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }) %>
                                            <% }else{ %>
                                                <tr>
                                                    <td colspan="3"> No category found.</td>
                                                </tr>
                                                <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
            <div class="pagination-container">
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <% if (currentPage> 1){ %>
                            <a href="?page=<%= currentPage - 1 %>">&laquo;Previous</a>
                            <% } %>
                                <% for(let i=1;i<=totalPages;i++){ %>
                                    <% if(i===currentPage){ %>
                                        <span class="current-page">
                                            <%= i %>
                                        </span>
                                        <% }else{%>
                                            <a href="?page=<%= i %>">
                                                <%= i %>
                                            </a>
                                            <% } %>
                                                <% } %>
                                                    <% if(currentPage<totalPages){ %>
                                                        <a href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
                                                        <% } %>
                    </nav>
                </div>
            </div>


        </section> <!-- content-main end// -->
      
        
        <script>
            function handleFormSubmit(event) {
                event.preventDefault()
                if (!validateForm()) {
                    return
                }
                const name = document.getElementsByName('name')[0].value
                const description = document.getElementById('descriptionId').value

                fetch('/admin/addCategory', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',

                    },
                    body: JSON.stringify({ name, description })

                })
                .then(response => {
                        if (!response.ok) {
                            return response.json().then(err => {
                                throw new Error(err.message)
                            })
                        }
                        return response.json()

                    })
                    .then(data => {
                        location.reload()
                        console.log('Form submitted:', { name, description });
                        //insert the new category into the table dynamically
                        // const tableBody = document.querySelector('tbody')
                        // const newRow = document.createElement('tr')
                        // newRow.innerHTML =
                        //     `<td>${data.category.name}</td>
                        //     <td>${data.category.description}</td> `
                        // tableBody.prepend(newRow)


                        // Optionally, clear the form after submission
                        // document.getElementById('name').value = '';
                        // document.getElementById('descriptionId').value = '';

                        //location.reload()
                    })
                    .catch(error => {
                        console.log('error:',error);
                        
                         if (error.message === 'Category already exists') {
                            Swal.fire({
                                title: 'Category already exists',
                                text: 'Please try again',
                                icon: 'error',
                            })
                         } 
                        else {
                            
                            Swal.fire({
                                title: 'OOps..,Something went wrong',
                                text: "An error occured while adding category",
                                icon: 'error',
                            })
                        }
                    })
            }
            function validateForm() {
                clearErrorMessages()
                const name = document.getElementsByName('name')[0].value.trim()
                const description = document.getElementById('descriptionId').value.trim()
                isValid = true
                if (name === "") {
                    displayErrorMessage('name-error', 'Please enter a name')
                    isValid = false
                } else if (!/^[a-zA-Z\s]+$/.test(name)) {
                    displayErrorMessage('name-error', 'Category name should contain only alphabetic  characters')
                    isValid = false

                } if (description === '') {
                    displayErrorMessage('description-error', 'Please enter a description')
                    isValid = false
                }
                return isValid

            }
            function displayErrorMessage(elementId, message) {
                var errorElement = document.getElementById(elementId)
                errorElement.innerText = message
                errorElement.style.display = 'block'
            }

            function clearErrorMessages() {
                const errorElements = document.getElementsByClassName('error-message')
                Array.from(errorElements).forEach((element) => {
                    element.innerText = ""
                    element.style.display = 'none'
                    
                })
            }
        </script>


        <%- include('../partials/admin/footer.ejs') %>

            <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->