<%- include('../partials/admin/sidebar.ejs') %>
    <%- include('../partials/admin/header.ejs') %>



        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Users list</h2>
              
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                       
                        
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col"><h5>Name</h5></th>
                                    <th scope="col"><h5>Email</h5></th>
                                    <th scope="col">Phone</th>
                                    <th scope="col"><h5>Status</h5></th>
                                    <th scope="col" ><h5>Action</h5> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(data.length>0){ %>
                                    <% for(let i=0;i<data.length;i++){ %>

                                        <tr>
                                            <td>
                                                <%= data[i].name %>
                                            </td>
                                            <td>
                                                <%= data[i].email %>
                                            </td>
                                            <td>
                                                <%= data[i].phone %>
                                            </td>
                                            <td>
                                                <% if(data[i].isBlocked === true){ %>
                                                    <span class="badge rounded-pill bg-danger">Blocked</span>
                                                    <% }else{ %>
                                                        <span class="badge rounded-pill bg-success">Active</span>
                                                        <% } %>
                                                </td>

                                                <td >
                                                    <% if(data[i].isBlocked===false){ %>
                                                        <a href="/admin/blockUser?id=<%= data[i]._id %>" class="btn btn-sm btn-danger me-2 d-inline-flex align-items-center">
                                                            <i class="material-icons md-block me-1"></i> Block
                                                        </a>
                                                    <% } else { %>
                                                        <a href="/admin/unBlockUser?id=<%= data[i]._id %>" class="btn btn-sm btn-success me-2 d-inline-flex align-items-center">
                                                            <i class="material-icons md-check_circle me-1"></i> Unblock
                                                        </a>
                                                    <% } %>
                                                </td>
                                        </tr>
                                        <% } %>
                                            <% }else{ %>
                                                <tr>
                                                    <td colspan="3"> No users found.</td>
                                                </tr>
                                                <% } %>
                            </tbody>
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% for(let i=1;i<=totalPages; i++){ %>
                            <li class="page-item <%= (i===currentPage) ? 'active' : '' %>"></li>
                            <a class="page-link" href="?page=<%= i %>">
                                <%= i %>
                            </a>
                            </li>

                            <% } %>

                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->


        <%- include('../partials/admin/footer.ejs') %>