<%- include('../partials/admin/sidebar.ejs') %>
    <%- include('../partials/admin/header.ejs') %>



        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Users list</h2>
                <div>
                    <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col"><b>Name</b></th>
                                    <th scope="col"><b>Email</b></th>
                                    <th scope="col"> <b>Action</b> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(data.length>0){ %>
                                    <% for(let i=0;i<data.length;i++){ %>

                                        <tr>
                                            <td>
                                                <%= data[i].name %>
                                            </td>
                                            <td>
                                                <%= data[i].email %>
                                            </td>

                                            <td class="text-end">
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown"
                                                        class="btn btn-light rounded btn-sm font-sm"> <i
                                                            class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        <% if(data[i].isBlocked===false){ %>
                                                            <a class="dropdown-item"
                                                                href="/admin/blockUser?id=<%= data[i]._id %>">Block</a>
                                                            <% }else{ %>
                                                                <a class="dropdown-item"
                                                                    href="/admin/unBlockUser?id=<%= data[i]._id %>">Unblock</a>
                                                                <% } %>
                                                                    <a class="dropdown-item" href="#">View detail</a>

                                                                    <a class="dropdown-item text-danger"
                                                                        href="#">Delete</a>
                                                    </div>
                                                </div> <!-- dropdown //end -->
                                            </td>
                                        </tr>
                                        <% } %>
                                            <% }else{ %>
                                                <tr>
                                                    <td colspan="3"> No users found.</td>
                                                </tr>
                                                <% } %>
                            </tbody>
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% for(let i=1;i<=totalPages; i++){ %>
                            <li class="page-item <%= (i===currentPage) ? 'active' : '' %>"></li>
                            <a class="page-link" href="?page=<%= i %>">
                                <%= i %>
                            </a>
                            </li>

                            <% } %>

                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->


        <%- include('../partials/admin/footer.ejs') %>