
<%- include('../partials/user/header.ejs') %>

<main class="main container-fluid">
    <section class="home-slider position-relative">
        <!-- Static Text Content (Same for all slides) -->
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="hero-slider-content-2">
                        <h3 class="text-white">INSPIRED VERSIONS OF<br>LUXURY & NICHE<br>FRAGRANCES AT<br>AFFORDABLE PRICES</h4>
                        <a class="btn btn-brush" href="shop-product-right.html">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sliding Background Images (Slick.js Slider) -->
        <div class="hero-slider-1 slick-slider">
            <!-- Slide 1 -->
            <div class="single-hero-slider" style="background-image: url('/user/assets/imgs/slider/slider-1a.jpg');">
            </div>
            <!-- Slide 2 -->
            <div class="single-hero-slider" style="background-image: url('/user/assets/imgs/slider/slider-2a.jpg');">
            </div>
            <!-- Slide 3 -->
            <div class="single-hero-slider" style="background-image: url('/user/assets/imgs/slider/slider-3a.jpg');">
            </div>
        </div>
		
    </section>
</main>



	<section class="featured section-padding position-relative">
		<div class="container">
			<div class="row">
				<h4 class="pb-15">Shop By Brands</h4>
				<div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
					<div class="brand-features wow fadeIn animated hover-up">
						<img src="/user/assets/imgs/brands/creed.jpeg" class="rounded-circle img-fluid" alt="Creed">
						<h4 class="bg-1">Creed</h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
					<div class="brand-features wow fadeIn animated hover-up">
						<img src="/user/assets/imgs/brands/dior.jpeg"  class="rounded-circle img-fluid" alt="DIOR">
						<h4 class="bg-3">Dior</h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
					<div class="brand-features wow fadeIn animated hover-up">
						<img src="/user/assets/imgs/brands/GA.jpeg" class="rounded-circle img-fluid" alt="GA">
						<div><h4 class="bg-2">GA</h4></div>
						
					</div>
				</div>
				<div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
					<div class="brand-features wow fadeIn animated hover-up">
						<img src="/user/assets/imgs/brands/louis vuitton.jpeg" class="rounded-circle img-fluid" alt="Louis Vuitton">
						<div><h4>LV</h4></div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
					<div class="brand-features wow fadeIn animated hover-up">
						<img src="/user/assets/imgs/brands/tomford.jpeg" class="rounded-circle img-fluid" alt="Tomford">
						<h4 class="bg-5">Tom ford</h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
					<div class="brand-features wow fadeIn animated hover-up">
						<img src="/user/assets/imgs/brands/chanel.jpeg" class="rounded-circle img-fluid" alt="CHANEL">
						<h4 class="bg-6">Chanel</h4>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Product listing -->
	<section class="product-tabs section-padding position-relative wow fadeIn animated">
		<!-- <div class="bg-square"></div> -->
		<div class="container">
			<div class="tab-header">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
					</li>
				</ul>
				<a href="#" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
			</div>
			<!--End nav-tabs-->
			<div class="tab-content wow fadeIn animated" id="myTabContent">
				<div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
					<div class="row product-grid-4">
						<% if(products && products.length > 0) { %>
						<% products.forEach(product=>{ %>
						<div class="col-lg-3 col-md-4 col-12 col-sm-6">
							<div class="product-cart-wrap mb-30">
								<div class="product-img-action-wrap">
									<div class="product-img product-img-zoom">
										<a href="/product/<%= product._id %>" >
											<img src="/uploads/re-image/<%= product.productImage[0] %>"alt="<%= product.productName %>">
											<img class="hover-img" src="/uploads/re-image/<%= product.productImage[0] %>" alt="<%= product.productName %>">
										</a>
									</div>
							
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href=""><% product.Category %></a>
									</div>
									<h2><a href=""><%= product.productName %></a></h2>
									<div class="rating-result" title="90%">
										<span>
											<span>90%</span>
										</span>
									</div>
									<div class="product-price">
										<span><% product.salePrice %></span>
										
									</div>
									<div class="product-action-1 show">
										<a aria-label="Add To Cart" class="action-btn hover-up" href=""><i class="fi-rs-shopping-bag-add"></i></a>
									</div>
								</div>
							</div>
						</div>
						<% } )%>
						<% }else{ %>
							<div class="col-12">
								<p>No products available.</p>
							</div>
							<% } %>
					</div>
					<!--End product-grid-4-->
				</div>
			</div>
			<!--End tab-content-->
		</div>
	
	</section>
	
	<section class="popular-categories section-padding mt-15 mb-25">
		<div class="container wow fadeIn animated">
			<h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
			<div class="carausel-6-columns-cover position-relative">
				<div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
				<div class="carausel-6-columns" id="carausel-6-columns">
					<% if (categories && categories.length > 0) { %>
						<% categories.forEach(category => { %>
					<div class="card-1">
						<figure class=" img-hover-scale overflow-hidden">
							<a href=""><img src="" alt="<%= category.name %>"></a>
						</figure>
						<h5><a href=""><%= category.name %></a></h5>
					</div>
                    <% }) %>
                <% } else { %>
                    <div class="col-12">
                        <p>No categories available.</p>
                    </div>
                <% } %>
					
				</div>
			</div>
		</div>
	</section>
	
	
	
	<!-- <section class="section-padding">
		<div class="container">
			<h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
			<div class="carausel-6-columns-cover position-relative wow fadeIn animated">
				<div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
				<div class="carausel-6-columns text-center" id="carausel-6-columns-3">
					<div class="brand-logo">
						<img class="img-grey-hover" src="/user/assets/imgs/banner/brand-1.png" alt="">
					</div>
					<div class="brand-logo">
						<img class="img-grey-hover" src="/user/assets/imgs/banner/brand-2.png" alt="">
					</div>
					<div class="brand-logo">
						<img class="img-grey-hover" src="/user/assets/imgs/banner/brand-3.png" alt="">
					</div>
					<div class="brand-logo">
						<img class="img-grey-hover" src="/user/assets/imgs/banner/brand-4.png" alt="">
					</div>
					<div class="brand-logo">
						<img class="img-grey-hover" src="/user/assets/imgs/banner/brand-5.png" alt="">
					</div>
					<div class="brand-logo">
						<img class="img-grey-hover" src="/user/assets/imgs/banner/brand-6.png" alt="">
					</div>
					<div class="brand-logo">
						<img class="img-grey-hover" src="/user/assets/imgs/banner/brand-3.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	 -->
	
	
	
</main>

<script>
	$(document).ready(function(){
	  $('.hero-slider-1').slick({
		autoplay: true,
		autoplaySpeed: 3000,  // Change slide every 3 seconds
		arrows: true,         // Enable navigation arrows
		dots: true,           // Enable dots navigation (optional)
		fade: true,           // Apply fade effect for smooth transition
		cssEase: 'linear',
	  });
	});
  </script>
  
		<%- include('../partials/user/footer.ejs') %>